@keyframes slideInFromBottom {
  0% {
    position: relative;
    bottom: -1000px;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 1;    
  }
}
@keyframes slideInFromTop {
  0% {
    position: relative;
    top: -500px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;    
  }
}

body {
  background-color: #242424;
  font-family: 'Josefin Sans', sans-serif; 
}
#winner, #loser {
  background: rgba(0,0,0,0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  transition: 0.5s all ease-in-out;
  left: 100%;
  .winner-wrapper, .loser-wrapper {
    position: absolute;
    width: 80%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 50px;
      color: #fff;      
    }
    #new-game p {
      margin-top: 30px;
      font-size: 24px;
      text-transform: uppercase;
      display: inline-block;
      padding: 14px 26px;
      border: 3px solid rgb(57,176,80);
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      background: rgba(255,255,255,0.3);
      transition: 0.2s all ease-in-out;
      &:hover {
        background: rgba(255,255,255,0.3);
        background: $color-5;
        color: #fff;        
      }
    }
  }
}
#loser img {
  position: relative;
  left: 14px;
}
#rules-btn {
  position: absolute;
  left: 0px;
  top: -25px;
  p {
    position: absolute;
    color: #999;
    text-transform: uppercase;
    line-height: 18px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    &:hover {
      color: $color-5;
    }
  }
}
#reset-btn {
  position: absolute;
  right: 44px;
  top: -25px;
  p {
    position: absolute;
    color: #999;
    text-transform: uppercase;
    line-height: 18px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    &:hover {
      color: $color-1;
    }
  }
}
#rules {
  background: rgba(0,0,0,0.95);
  position: fixed;
  width: 100%;
  height: 100%;  
  z-index: 9999999;
  transition: 0.2s all ease-in-out;  
  right: 100%;
  overflow-x: hidden;  
  h1 {
    position: relative;
    left: 7px;
    display: block;
    margin: 50px auto 0px;
  }
  .rules-title {
    max-width: 500px;
    width: 95%;
    margin: 0 auto 10px;
    display: block;
    h3 {
      color: $color-6;
      text-transform: uppercase;
      margin-bottom: 0px;
      position: relative;      
      top: 2px;
      font-size: 20px;
      margin-top: 8px;
      display: inline-block;
    }
    .icon {      
      width: 34px;
      height: 34px;
      position: relative;
      left: 5px;          
      fill: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      float: right;
      &:hover {
        fill: rgb(57,176,80);
      }
    }
  }
  .rules-wrapper {
    overflow-y: scroll;      
    max-width: 500px;
    width: 90%;
    // max-height: 550px;      
    margin: 0 auto 50px;
    display: block;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;       
    .text-wrapper {
      padding: 0 25px;
      margin: 25px auto;
      .disclaimer {
        font-size: 16px;
        font-style: italic;
      }
      p {        
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
        line-height: 26px;
      }      
    }
  }
}

.user-time {
  position: relative;   
  color: #fff;
  margin-bottom: 30px;  
  h3 {
    font-size: 20px;
    margin: 10px 0 0;
    color: #aaa;   
  }
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-size: 22px;
    color: $color-3;
  }
}

.out-of-time {
  color: $color-1;
  font-size: 20px;
  margin: 10px 0 0;
}

.time {
  font-family: 'Lato', 'Josefin Sans', Helvetica, sans-serif;
}

.start-timer-wrapper {
  position: absolute;
  border: 2px solid #ddd;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
  .start-timer {    
    cursor: pointer;
    margin: 40px auto 10px;
    display: inline-block;    
    p {
      background-color: $color-3;
      color: $color-4;
      border: 2px solid $color-3;
      border-radius: 5px;
      padding: 10px 60px;
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      margin: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $color-5;
        color: $color-3;
      }
    }
  }
}

#timer {
  // border: 2px solid #fff;
  background-color: #444;
  padding: 7px 15px 10px;
  border-radius: 5px;
  position: fixed;
  width: auto;
  min-width: 106px;
  color: #fff;
  right: 30px;
  top: 50px;
  z-index: 9999; 
  h4 {
    text-transform: uppercase;
    color: $color-5;
    font-size: 14px;
    margin-top: 0px;
  }
  p {
    font-size: 20px;
    margin: 0;
    text-align: right;
  }
}

#main-wrapper {
  text-align: center;
}
h1.title {
  animation: 0.3s ease slideInFromTop; 
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-top: 50px;
  font-size: 70px;
  position: relative;
  display: inline-block;  
}
#gameboard {
  animation: 0.3s ease slideInFromBottom;
  max-width: 500px;
  margin: 29px auto 80px;
  display: block;
  background-color: #ddd;
  padding: 14px 26px;  
  border-radius: 5px;
  position: relative;
}
.row {
  margin: 20px 0;
  padding: 12px 0;
  position: relative;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid #eee;
  transition: 0.2s all ease-in-out;
  .row-label {
    color: #777;   
    position: absolute;
    left: 4px;
    top: 1px;
  }
}
.row.active {
  border: 2px solid #555;  
  background: #fff;
}
.cdBkr-spots-wrapper {
  display: inline-block;
  width: 78%;
  margin-right: 5%;
  padding-left: 5px;
  padding-right: 22px;
  float: left;
  height: 60px;
  border-right: 2px solid #999;
}
.cdBkr-spot-wrapper {
  width: 23%;
  margin: 0 1%;
  position: relative;
  display: inline-block;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}
.cdBkr-spot {    
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #aaa;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.1s all ease-in-out;  
}
.cdBkr-spot.selected {
  border-width: 6px;
}
.color-options {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
}
.color {
  height: 10px;
  width: 25px;
}
.color-1 {
  background: $color-1;
  color: $color-1;
}
.color-2 {
  background: $color-2;
  color: $color-2;
}
.color-3 {
  background: $color-3;
  color: $color-3;
}
.color-4 {
  background: $color-4;
  color: $color-4;
}
.color-5 {
  background: $color-5;
  color: $color-5;
}
.color-6 {
  background: $color-6;
  color: $color-6;
}
.cdMkr-spots-wrapper {
  width: 14%;
  margin-right: 3%;
  display: inline-block;
  float: right;
}
.cdMkr-spot-wrapper {
  width: 50%;
  margin: 5px auto;
  position: relative;
  display: inline-block;
  float: left;
}
.cdMkr-spot {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #aaa;
  display: block;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
#color-selector {
  width: auto;
  position: fixed;
  left: -100px;
  top: 167px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 8px 12px;
  transition: 0.3s all ease; 
  .cdBkr-spot {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }  
}

#submit {
  position: fixed;
  padding: 10px 20px;
  right: 80px;
  top: 167px;  
  background-color: #242424;
  border: 3px solid #fff;
  transition: opacity 0.5s ease-in-out, 0.2s background-color ease-in-out, visibility 0s ease-in-out;
  cursor: default;
  border-radius: 5px;  
  opacity: 0;    
  visibility: hidden;
  p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
  }
  &:hover {
    background-color: #fff;
    p {
      color: #242424;
    }  
  }
}
#submit.show {  
  transition: opacity 0.5s ease-in-out, 0.2s background-color ease-in-out, visibility 0s ease-in-out;
  cursor: pointer !important;
  opacity: 1 !important;
  visibility: visible !important;    
}

svg.hide {
  display: none;
}

.mobile-coming {
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
}

body .mobile {
  display: none;
}
body .desktop {
  display: inline-block;
}

@media screen and (max-width: 840px) {
  .mobile-coming {
    display: inline-block;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-6;
    h2 {
      color: $color-4;
      text-transform: uppercase;
      font-size: 60px;
      margin-top: 70px;
    }
    h3 {
      border-top: solid;
      border-bottom: solid;
      border-width: 3px;
      border-color: $color-4;
      margin: 0;
      color: $color-4;
      font-size: 30px;
      text-transform: uppercase;
      padding: 25px 20px 20px;
      font-style: italic;
      line-height: 32px;
    }
    .wrapper {     
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;      
    }
  }

  h1.title {
    font-size: 20px;
    margin: 15px 0;
  }

  .mobile-coming {
    h2 {
      font-size: 40px;  
    }
    h3 {
      font-size: 26px;
    }
  }

  .row {
    margin: 20px 0;
    padding: 4px 0;
  }
  #gameboard {
    padding: 6px 20px;
    margin-top: 188px;
  }
  .cdBkr-spots-wrapper {
    display: inline-block;
    width: 78%;
    margin-right: 5%;
    padding-left: 5px;
    padding-right: 20px;
    float: left;
    height: 60px;    
  }
  .cdMkr-spots-wrapper {    
    display: inline-block;
    float: right;
  }

  #color-selector {
    width: 500px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px 4px 0;
    transition: 0.3s all ease;
  }
  #color-selector .cdBkr-spot {
    width: 44px;
    height: 44px;
    margin: 0 8px;
    display: inline-block;
  }

  #submit {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    top: 72px;
  }
  #rules-btn {
    top: -44px;
  }
  #rules-btn.desktop {
    display: none;
  }
  .options {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #242424;
    z-index: 999;
    #color-selector {
      position: relative;
      top: 0;
      margin-bottom: 80px;
    }
    #rules-btn, #reset-btn {
      top: 90px;
    }
    #submit {
      position: absolute;
      // z-index: 99999999;
    }
  }
  body .mobile {
    display: inline-block;
    top: 0;
    left: 0px;    
  }
  body .desktop {
    display: none;
  }
  #reset-btn {
    position: absolute;
    right: 44px;
    bottom: 44px;
    top: initial;
  }
  #timer {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;    
    min-width: inherit;
    color: #fff;    
    right: 20px;    
    top: 10px;
  }
}

@media screen and (max-width: 500px) {
  h1.title {
    font-size: 16px;
    margin: 15px 0;
  }

  .mobile-coming {
    h2 {
      font-size: 40px;  
    }
    h3 {
      font-size: 26px;
    }
  }

  .row {
    margin: 10px 0;
    padding: 4px 0;
  }
  #gameboard {
    padding: 6px 8px;      
  }
  .cdBkr-spots-wrapper {
    display: inline-block;
    width: 78%;
    margin-right: 0%;
    padding-left: 5px;
    padding-right: 0px;
    float: left;
    height: 60px;
    border-right: 0px solid #999;
  }
  .cdBkr-spot {
    width: 45px;
    height: 45px;
  }
  .cdMkr-spots-wrapper {
    width: 19%;
    margin-right: 1%;
    display: inline-block;
    float: right;
  }

  #color-selector {
    width: auto;
    position: fixed;    
    top: 40px;
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px 4px 0;
    transition: 0.3s all ease;
  }
  #color-selector .cdBkr-spot {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    display: inline-block;
  }

  #rules h1 {
    margin: 20px auto 0px;
  }
  #rules .rules-wrapper .text-wrapper {
    padding: 0 18px;
    margin: 18px auto;    
  }
  #rules .rules-wrapper .text-wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
  #rules .rules-title h3 {
    font-size: 16px;
  }

  #timer {
    width: auto;    
    p {
      font-size: 16px;
    }
  }

}